.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

input {
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 10px;
}

input::placeholder {
  color: #bbb;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 20px;
}

.progress-container {
  width: 50%; /* Adjust this value as needed */
  max-width: 600px; /* Sets a maximum width */
  background-color: #444;
  margin: 20px auto; /* Centers the container */
  height: 20px;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  width: 0%;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

@keyframes fillBar {
  from { width: 0%; }
  to { width: 100%; }
}

.progress-bar-animated {
  animation: fillBar linear forwards;
}

.guess-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 30px;
  height: 10px;
}

/* Existing styles... */

.history {
  margin-top: 20px;
}

.history-item {
  background-color: #333;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}
